h1 ,h2{
    text-align: center;
} 

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #f0e68c;
}


.divPlayer, .divComputer, .divScore{
   width:29%;
   margin:1%;
   padding:1%;
   height: 60%;
   background-color: burlywood;
   float: left;
}

.imgProfile{
  background-color: red;
  width:50%;
  height: 50%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgProfile img {
    max-width: 100%;
    /* max-height: 100%; */
    object-fit: contain;
    display: block; /* remove extra space below image */
 }


 .flex-container {
    background-color: DodgerBlue;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly
  }
  
  .flex-container > button {
    margin: 10px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
    width: 27%;
    padding-block: 10%;
  }


  .rock{
    background-color: #19aba0;
  }
   .paper{
     background-color: #e2122c;
   }
   .scissors{
     background-color:#b3cc33 ;
   }
   

  .btn:hover {background: #eee;}
  
  .rock {
    background-image: url(/images/rockButton.png) ;
  }
  .paper {
    background-image: url(/images/paperButton.png);
  }
  .scissors {
    background-image: url(/images/scissorsButton.png);
  }



  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scaleX(1.1) scaleY(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    font-family: sans-serif;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
} 
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1.0) scaleY(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
@media only screen and (max-width: 50rem) {
    h1 {
        font-size: 1.5rem;
    }
    .modal-content {
        width: calc(100% - 5rem);
    }
}